/* Add CSS Styling */
.class {
    background-color: #f578a4;
    font-family: "Verdana", "DejaVu Sans", sans-serif ;
}

.class.class2{
    font-size: 24px;
}

#div1 {
    color: hsl(238, 83%, 42%);
    font-size: 36px;
}

#div2{
    background-color: rgb(17, 217, 17);
    font-size: 24px;
    font-weight: bold;
}